1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
#1->
test1 = 'This is a test of the emergency text system,'
file1 = open("test.txt","w")
file1.write(test1)
file1.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
#2->
file1 = open("test.txt","r+") 
print(file1.read())

This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [59]:
#3->
import csv
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["title", "author", "year"])
    writer.writerow(["The Weirdstone of Brisingamen", "Alan Garner", 1960])
    writer.writerow(["Perdido Street Station", "China Mieville", 2000])
    writer.writerow(["Thud!", "Terry Pratchett", 2005])
    writer.writerow(["The Spellman Files", "Lisa Lutz", 2007])
    writer.writerow(["Small Gods", "Terry Pratchett", 1992])
import pandas as pd
pd.read_csv("books.csv")

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Mieville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [95]:
#4->
import sqlite3
con = sqlite3.connect("books.db")
tb = con.cursor()
tb.execute('''CREATE TABLE books (title text, author text, year integer)''')
con.commit()
con.close()

5. Read books.csv and insert its data into the book table.

In [96]:
#5->
import pandas as pd
con = sqlite3.connect("books.db")
tb = con.cursor()

#a_file = open("books.csv")
#rows = csv.reader(a_file)
#tb.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", rows)
data = pd.read_csv('books.csv')
df = pd.DataFrame(data)
for i in df.itertuples():
    tb.execute('''INSERT INTO books (title, author, year) VALUES (?,?,?)''',(i.title, i.author, i.year))    
tb.execute("SELECT * FROM books")
print(tb.fetchall())
con.commit()
con.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Mieville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

6. Select and print the title column from the book table in alphabetical order.

In [97]:
#6->
con = sqlite3.connect("books.db")
tb = con.cursor()

tb.execute("SELECT title FROM books ORDER BY TITLE")
print(tb.fetchall())
con.commit()
con.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [98]:
#7->
con = sqlite3.connect("books.db")
tb = con.cursor()

tb.execute("SELECT * FROM books ORDER BY year")
print(tb.fetchall())
con.commit()
con.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Mieville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [102]:
#8->
import sqlalchemy
engine= sqlalchemy.create_engine('sqlite:///books.db')
engine.connect()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [11]:
#9->
#!pip install redis
import redis
con = redis.Redis()
con.hmset('test', {'count': 1,'name': 'Fester Bestertester'})
con.hgetall('test')

C:\Users\Braja\AppData\Local\Temp/ipykernel_9540/1950545129.py:5: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  con.hmset('test', {'count': 1,'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

10. Increment the count field of test and print it.

In [12]:
#10->
con.hincrby('test','count', 1)
con.hget('test','count')

b'2'