1-> 
    
    Values - 'hello', -87.8, 6 
    Expressions - *, -, /, +

2-> 

    A variable is a space, which can store everything from number to string. A string is quated value which can be assigned to a variable.

3-> 

    There can be multiple data types. Below are three out of them - 
    Numeric - It can be Integer, Float or Complex data type. Ex: int - 4
    Stirng - It is a quated value. Ex: "Braja"
    Sequence - It is a collection of data. It stores multiple items in a single variable. Ex: List - [1,"Braja",30], tuple - ('2','4')

4-> 

    Expression is made up of variables,operators and method invocations. It always evalute down to a single value. In python to print an expression, the interpreter evaluates the expression and displays the result.

5-> An expression evaluates to a single value, a statement does not.
    
    spam=10    ## a Statement
    spam+10    ## an Expression

6-> 22

7-> It will return same value for both term. Result: 'spamspamspam'

8-> Variables can't be a number

9-> int(), float(), str()

In [1]:
#10-> string can only be concatenated with another string. we can typecast integer to string like below - 
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'